@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* || VARIABLES */
:root {
  /* COLORS */
  --green : #44FFA1;
  --purple-900 : #24053E;
  --purple-500: #584D62;
  --purple-100: #FCF8FF;
  --white : #FFFFFF;
  /* TYPOGRAPHY */
  --ff1:Fraunces,'sans-serif';
  --ff2:Manrope, 'sans-serif';  
 
  --text-preset-1 : 600 3rem/100% var(--ff1);
  --text-preset-2 : 600 2rem/120% var(--ff1);
  --text-preset-3 : 600 1.5rem/120% var(--ff1);
  --text-preset-4 : 500 1rem/180% var(--ff2);
  --text-preset-4-a : 700 1rem/180% var(--ff2);
  --text-preset-5 : 700 1.125rem/180% var(--ff2);
  --list-text: 600 1.25rem/2.5rem var(--ff1);
  /*tablet*/
  --text-preset-1-tab : 600 3.75rem/100% var(--ff1);
  --text-preset-2-tab : 600 3rem/120% var(--ff1);
  --text-preset-3-tab : 600 1.75rem/120% var(--ff1);
  
  /*desktop*/
  --text-preset-1-desktop : 600 5rem/100% var(--ff1);
  --text-preset-2-desktop : 600 3.5rem/120% var(--ff1);
  --text-preset-3-desktop : 600 2rem/120% var(--ff1);
  --text-preset-4-desktop: 500 1.125rem/180% var(--ff2);


  
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  background-color: var(--purple-100);
}

h1,
h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}
.main-article{
  height: 2453.61px;
  width: 375px;
  
  margin: 0;
  padding: 0;

}
.main-article__header{
 height  : 481px;
 width:375px;
  background-color: var(--purple-900);
  margin-bottom:5.5625rem;
  background-image: url(./images/images/ornamental.png);
  background-repeat: no-repeat;
  background-position:  bottom center;
  background-size: 375px 24px;
}
.main-article__header-text__wrapper{
  height: 67px;
  width:375px;
}
.main-article__header-text__wrapper-div{
  display: flex;
  flex-flow: row;
  gap: 96.24px;
  padding: 2rem 1.25rem 0rem 1.25rem;  
}
.main-article__header-apply__cta{
  font: var(--text-preset-5);
  color: var(--white);
  background-color: var(--purple-900);
  border: none;
  border-bottom:3px solid var(--green);
  width: 143px;
  height: 35px;
}
.main-article__header-msg__wrapper{
  display: flex;
  flex-flow: column;
  gap: 40px;
  align-items: center;
  width: 335px;
  height: 190px;  
  margin: 3.5rem 1.25rem 4rem 1.25rem; 
}
.main-article__header-msg {
  font: var(--text-preset-1);
  color: var(--white);
  letter-spacing: -1px;  
}
.tailored{
  position: relative;
  display: inline-block;
  padding-bottom: 5px;  
}
.tailored::after{
  content:"";
  position: absolute;
  bottom:0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--green);
}
.main-article__header-learn__cta{
  width: 151px;
  height: 53px;
  font: var(--text-preset-5);
  color:var(--purple-900);
  background-color: var(--green);  
}

.mobile-image{
  width: 298.32px;
  height: 178.16px;
  align-items: center;
  margin: 0rem 1.7181rem .5625rem 1.7181rem;
}
.main-article__main{
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 862px;
 width: 375px; 
  margin-bottom: 0rem;
  background-color: var(--purple-100);
  background-image: url(./images/images/ornamental\ mobile\ 2.png);  
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 375px 24px;
}
.main-article__main-wrapper{
  margin: 4rem 1.25rem 4rem 1.25rem;
  display:flex;
  flex-flow: column;
  align-items: center;
  height: 734px;
width: 335px;
 
}
.main-article__main-list{
  list-style: none;
}
.main-article__main-div{ 
  display: flex;
  flex-flow: column; 
  align-items: center;
  height: 204px;
  width: 335px;
  margin-bottom: 2rem;
}
.main-article__main-div1{ 
  display: flex;
  flex-flow: column; 
  align-items: center;
  height: 233px;
  width: 335px;
  margin-bottom: 2rem ;
}
.main-article__main-div2{ 
  display: flex;
  flex-flow: column; 
  align-items: center;
  height: 233px;
  width: 335px;
}
.main-article__main-list__number {
  border: 1px solid var(--purple-500);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  font: var(--list-text) ;
  color: var(--purple-900);
  text-align: center;
  margin-bottom: 1.5rem;
}
.main-article__main-list-section{
  display: flex;
  flex-flow: column; 
  align-items: center;
}
.main-article__main-list__title{
  font: var(--text-preset-3);
  color: var(--purple-900);
  margin-bottom: 1rem;
}
.main-article__main-list__msg{
  font: var(--text-preset-4);
  color: var(--purple-900);
  text-align: center;
}
.main-article__footer{ 
 height:737px ;
 width: 375px;

  background-color: var(--white);  
  margin-bottom: 0rem;
  margin-top: 0rem;
  display: flex;
  flex-flow: column;
 
}
.main-article__footer-wrapper{
  margin: 7rem 1.25rem 0rem 1.25rem;
  height: 625px;
  width:335px;
  display:flex;
  flex-flow:column;  
 
}
.main-article__footer-img__div{
  height: 280px;
  width:335px;
}
.founder-image{
  width: 280px;
  height: 280px;
  margin: 0rem 1.7188rem 0rem 1.7188rem;
}
.main-article__footer-founder__msg-wrapper{
  height: 393px;
  width: 335px;
  background-color: var(--purple-900);
  margin-top: -3rem;
}
.main-article__footer-founder__msg{
  padding: 2rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  align-items: center;
}
.main-article__footer-founder__msg-head{
  font: var(--text-preset-2);
  color: var(--white);
  white-space: nowrap;
  text-align: left;
}
.main-article__footer-founder__msg-body {
  font: var(--text-preset-4);
  color: var(--white);
}
.main-article__footer-link {
  font: var(--text-preset-4-a);
  color: var(--purple-900);
  background-color: var(--green);
  padding: .75rem 2rem;
  text-decoration: none;
}
.main-article__socials{
  height: 260.61px;
 width: 375px;
  background-color: rgb(255, 255, 255);
  margin-top: 0rem;
  padding-top: 0rem;
  display: flex;
  flex-flow: column;  
}
.main-article__socials-div{  
  height: 100.61px;
  width: 116px;
  display: flex;
  flex-flow: column;
  gap: 56px;
  margin: 5rem 8.0938rem 5rem 8.0938rem;
}
.logo-dark{
  padding: 0rem .6325rem 0rem .6325rem;
  width: 95.76px;
  height: 24.61px; 

}
.main-article__socials-icons-div{
  display: flex;
  flex-flow: row;
  gap: 28px;
}
/*Tablet*/
@media screen and (min-width: 768px) {
  .main-article{  
    height: 2202.61px;
   width: 768px;   
    
  }
  .main-article__header{
    height: 540px;
    width: 768px;   
    margin-bottom: 8.5rem; 
    background-image: 
    url(./images/images/bg-pattern-1.svg),
    url(./images/images/bg-pattern-2.svg),
    url(./images/images/ornamental\ tablet.png);

    background-repeat: no-repeat;

    background-position:  
    left -160px top 50%,
    right -70px top 80%,
    bottom center; 

    background-size: 
    270.79px 215.1px,
    141.7px 112.71px,
    768px 56px;
  }
  .main-article__header-text__wrapper{
    width: 768px;

  }
  .main-article__header-text__wrapper-div{    
    gap: 441.24px;
    padding: 2rem 2.75rem 0rem 2.75rem;    
  }
  .main-article__header-msg__wrapper{  
    width: 680px;
    height: 217px; 
    margin: 3.5rem 2.75rem 2.5rem 2.75rem;   
  }
  .main-article__header-msg {    
    font: var(--text-preset-1-tab);
    color: var(--white);
    margin: 0rem 1.4063rem 0rem 1.4063rem;
   
  }
  .main-article__header-learn__cta{
  width: 162px;
  height: 56px;   
}
.mobile-image{
  width: 471.18px;
  height: 271.84px;
  margin: 2.5rem 7.9119rem 0rem 7.9119rem;
}
.main-article__main{ 
  height: 596px;
  width: 768px;
  background-size: 768px 56px;
}
.main-article__main-wrapper{
  margin: 3.5rem 2.75rem 2.75rem 2.75rem;
  height: 424px;
  width: 680px;


}
.main-article__main-div, 
.main-article__main-div1 { 
  flex-flow: row;  
  height: 120px;
  width: 680px;  
}
.main-article__main-div2{ 
  flex-flow: row; 
  height: 120px;
  width: 680px;
}
.main-article__main-list__number { 
  margin: 2.25rem 3.5rem 2.25rem 0rem;
}
.main-article__main-list-section{  
  height: 120px;
  width: 576px;
  gap: 28px;  
}

.main-article__main-list__title{
  font: var(--text-preset-3-tab); 
   text-align: left;
}
.main-article__main-list__msg{
  font: var(--text-preset-4);
  text-align: left; 
}
.main-article__footer{
  height:670px ;
  width: 768px;
  
}
.main-article__footer-wrapper{
  margin: 7rem 2.75rem 0rem 2.75rem;
  height: 558px;
  width:680px; 
  flex-flow: row; 
}
.main-article__footer-img__div{  
  height: 558px;
  width:280px;
}
.founder-image{  
  margin: 0rem 25rem  17.375rem 0rem; 
}
.main-article__footer-founder__msg-wrapper{
  height: 390px;
  width: 504px;
  margin: 10.5rem 0rem 0rem -6.5rem; 
  background-image: url(./images/images/bg-pattern-3.svg);
  background-position: left 75% top 170%;
  background-repeat: no-repeat;
}
.main-article__footer-founder__msg{
  padding: 3rem; 
  align-items: flex-start;
}
.main-article__footer-founder__msg-head{
  font: var(--text-preset-2-tab);   
}
.main-article__footer-founder__msg-body {
  text-align: left;
}
.main-article__footer-link {
  align-items: flex-start;
}
.main-article__socials{
  height: 260.61px;
  width: 768px;
  margin: 0rem 0rem ; 
} 
.main-article__socials-div{
  margin: 5rem 20.375rem;
}  
}
/*DESKTOP*/
@media screen and (min-width: 992px) {
  
.main-article{
  height: 2557.61px;
  width: 100%;
  max-width: 2119px;
  margin: 0 auto;
 
 
}

.main-article__header {
  height: 771px;
  width: 2119px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 10.0625rem;  
  background-image: 
    url(./images/images/bg-pattern-1.svg),
    url(./images/images/bg-pattern-2.svg),
    url(./images/images/ornamental\ desktop.png);
  
  background-position: 
    left 200px top 50%,
    right 214px top 60%,
    bottom center;
  
  background-size: 
    270.79px 215.1px,
    141.7px 112.71px,
    2119px 72px;
  
  background-repeat: no-repeat;
}

.main-article__header-apply__cta:hover{
  color: var(--green);
}
.main-article__header-text__wrapper{
  height: 91px;
  width:1440px;
}
.main-article__header-text__wrapper-div{
  gap: 881.24px;
  padding: 3.5rem 9.75rem 0rem 10rem;  
}
.main-article__header-msg__wrapper{ 
  width: 635px;
  height: 256px;  
  margin: 3.5rem 25.1563rem 5.5rem 25.1563rem; 
}
.main-article__header-msg {
  font: var(--text-preset-1-desktop); 
  letter-spacing: 0px;
}
.main-article__header-learn__cta{
  width: 162px;
  height: 56px; 
}
.main-article__header-learn__cta:hover{
  background-color: var(--purple-900);
  border: 2px solid var(--green);
  color: var(--green);

}
.mobile-image{
  width: 767px;
  height: 441px;
  margin: 0rem 21.0313rem ;
}
.main-article__main{  
  height: 610px;
  width: 2119px;
  margin-bottom: 0rem;  
 background-size: 2119px 72px; 

}
.main-article__main-wrapper{ 
  flex-flow: row;
  margin: 5.5rem auto 9rem ;
  height: 306px;
  width: 1120px;
}
.main-article__main-list{
  list-style: none;
  display: flex;
  flex-flow: row;
  gap: 2rem;
}
.main-article__main-div{
  flex-flow: column; 
  height: 306px;
  width: 352px;
  margin-bottom: 0rem;
 
}
.main-article__main-div1{  
  flex-flow: column;
  height: 306px;
  width: 352px;
  margin-bottom: 0rem ;
  
}
.main-article__main-div2{  
  flex-flow: column;
  height: 306px;
  width: 352px;
  
}
.main-article__main-list__number {
  height: 56px;
  width: 56px;
  margin-bottom: 3.5rem;
}
.main-article__main-list-section{  
  height: 194px;
  width: 352px;
  gap: 28px;   
}
.main-article__main-list__title{
  font: var(--text-preset-3-desktop); 
   text-align: center;
}
.main-article__main-list__msg{
  font: var(--text-preset-4-desktop);
  text-align: center; 
}
.main-article__footer{
  height:691px ;
  width: 2119px;  
}
.main-article__footer-wrapper{
  margin: 7rem auto 0rem ;
  height: 579px;
  width:1120px; 
  flex-flow: row;

}
.main-article__footer-img__div{  
  height: 579px;
  width:477px;
}
.founder-image{  
  margin: 0rem 40.1875rem  6.375rem 0rem; 
  width: 477px;
  height: 477px;
}
.main-article__footer-founder__msg-wrapper{
  height: 411px;
  width: 730px;
  margin: 10.5rem 0rem 0rem -5.4375rem; 
  background-image: url(./images/images/bg-pattern-3.svg);
  background-position: left 75% top 140%;
  background-repeat: no-repeat;

}
.main-article__footer-founder__msg{
  padding: 4rem; 
  align-items: flex-start;
}
.main-article__footer-founder__msg-head{
  font: var(--text-preset-2-desktop);   
}
.main-article__footer-founder__msg-body {
  text-align: left;
}
.main-article__footer-link:hover{
  background-color: var(--purple-900);
  color: var(--green);
  border: 2px solid var(--green);

}
.main-article__footer-link {
  align-items: flex-start;
}
.main-article__socials{
  height: 324.61px;
  width: 2119px;
  margin: 0rem 0rem ; 
}
.main-article__socials-div{
 margin: 7rem 62.5938rem 7rem 62.5938rem;
} 


}














